.footerbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #5388b6;
    color: white;
    padding: 20px 0;
}

.part{
    display: flex;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    text-align: center;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.footer-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-content .socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-content .socials li {
    display: inline;
}

.footer-content .socials li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}